.btn {
	border-radius: 0;
	font-family: $adobe_caslon;
	font-size: 18px;
	font-weight: 500;
	white-space: initial;
}

.btn-primary {
	background: #fff;
	border: 2px solid $main_purple;
	color: $main_purple;
	padding: 0.1em 1em;
	text-decoration: none;
	text-transform: uppercase;
	a {text-decoration: none;}

	&:hover, &:focus, &:active, &:active:focus, &:active:hover {
		background: $main_purple;
		border-color: #fff;
		color: #fff;

	}
}

.btn-secondary {
	background: #fff;
	border: 2px solid $main_purple;
	color: $main_purple;
	padding: 0.1em 1em;
	text-decoration: none;
	a {text-decoration: none;}

	&:hover, &:focus, &:active, &:active:focus, &:active:hover {
		background: $main_purple;
		border-color: #fff;
		color: #fff;

	}
}