footer {
	background: $main-purple;
	color: #fff;
	font-family: $adobe_caslon;
	font-size: 18px;
	font-weight: 300;
	padding: 3em 0;
	.container {
		padding-bottom: 3em;
		.col-lg-12 {
			h2 {
				color: #fff;
				font-size: 36px;
				font-style: italic;
				margin-top: 0;
				margin-bottom: 35px;
			}
			text-align: center;
		}
		.col-lg-3 {
			font-weight: 300;
			.location-title {
				font-weight: bold;
			}
		}
	}
	.footer-nav {
		background: #fff;
		text-align: center;
		ul {
			li {
				display: inline-block;
				padding: 20px;
				&:after {
						content: "|";
						color: #000;
						display: block;
						float: right;
						margin-right: -23px;
					}
				&:last-child:after {
					content: '';
					display: none;
				}
				a {
					color: #000;
					font-family: $adobe_caslon;
					font-weight: 300;
					text-transform: uppercase;

				}
			}
		}
	}

	a {
		color: #fff;
	}
		#find-us-online {
			float: left;
			margin-top: 80px;
			#footer-social {
				float: left;
				a {
					background: transparent;
					width: 30px;
					height: 30px;
					display: inline-block;
					margin-right: 20px;
					text-decoration: none;
					text-indent: -9000px;
				}
				a#facebook {
					background: url($social_sprite) no-repeat 0 0;
					&:hover {
						//background-position: 0 -30px;
					}
				} 
				a#twitter {
					background: url($social_sprite) no-repeat -58px 0;
					&:hover {
						//background-position: -58px -30px;
					}
				}
				a#youtube {
					background: url($social_sprite) no-repeat -119px 0;
					&:hover {
						//background-position: -119px -30px;
					}
				}
				a#googleplus {
					background: url($social_sprite) no-repeat -178px 0;
					margin-right: 15px;
					&:hover {
						//background-position: -178px -30px;
					}
				}
				a#linkedin{
					background: url($social_sprite) no-repeat -239px 0;
					&:hover {
						//background-position: -239px -30px;
					}
				}
			}
		}
}

@media (max-width: 1200px) {
	footer {
		.col-lg-5 {
			max-height: 345px;
			padding-top: 2em;
		}
		.col-lg-7 {
			height: 100%;
			max-height: none;
		}
	}
}

@media (max-width: 992px) {
	#bottom-footer {
		.container-fluid {
			#copyright {
				float: none;
				text-align: center;
			}
			#footer-social {
				float: none;
				margin-top: 15px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 767px) {
	footer {
		.col-lg-7 {
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}

@media (max-width: 600px) {
	footer {
		.col-lg-7 {
			padding-bottom: 50px;
			.footer-locations {
				float: none;
				clear: both;
				width: 100%
			}
		}
	}
}

@media (max-width: 480px) {
	footer {
		.col-lg-5 {
			padding-bottom: 60%;
		}
	}
}
