.wrap.container {
	padding: 0;
}

.content-row {
	margin: 0!important;
}

#rev_slider_1_1_wrapper {
    .tp-caption, #slide-1-layer-9{
    	font-family: $minion!important;	
    	font-weight: bold!important;
    }

    #slide-1-layer-5 {
    	font-style: italic;
    }

    #slide-1-layer-15, #slide-1-layer-16 {
    	font-family: $adobe_caslon!important;
    	font-size: 18px!important;
    	line-height: 24px!important;
    	font-weight: normal!important;
    }

    .tp-caption {
    	font-size: 33px;
    }

    #slide-1-layer-9 {
    	font-size: 22px;
    }

    .rev-btn {
    	font-family: $adobe_caslon!important;
    	font-weight: normal!important;
    }
    
}

#section-2 {
	background: #fff;
	color: $main_purple;
	font-family: $adobe_caslon;
	padding: 5em 0;
	.container {
		margin: auto;
		position: relative;

		.section-2-left {
			h2 {
				color: $main_purple;
				font-family: $minion;
				font-size: 40px;
				font-style: italic;
				font-weight: 400;
			}
			p {
				font-family: $adobe_caslon;
				font-size: 22px;
				font-weight: 300;
			}
		}

		.section-2-right {
			padding: 0;
			line-height: 1.9em;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			.right-inner {
				background-color: #f3eaf1;
				padding: 25px;
				h3 {
					color: $main_purple;
					font-family: $adobe_caslon;
					font-size: 22px;
					font-weight: 300;
					margin-top: 15px;
					text-align: center;
				}
				ul {
					li {
						font-family: $minion;
						font-size: 18px;
						font-style: italic;
						line-height: 22px;
					}
				}
				ul.left-list {
					float: left;
				}
				ul.right-list {
					float: right;
					padding-left: 0;
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
}

#section-3 {
    background: #e5f2f6;
    padding: 8em 0;
    .container {
    	position: relative;
    	.section-3-left {
    		padding: 0;

    			float: left;
    		img {
    		}
    	}
    	.section-3-right {
    		font-size: 18px;
			line-height: 28px;
			padding: 0 3%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			h2 {
    			color: $main_purple;
    			font-family: $minion;
    			font-style: italic;
    			font-size: 36px;
    		}
    		p {
    			font-weight: 300;
    		}
    	}
    }
}

#section-4 {
    background: #fff;
    color: #000;
    padding: 0;
    .row {
    	margin: 0;
    	position: relative;
    	.section-4-left {
    		font-family: $adobe_caslon;
    		font-weight: 300;
    		padding: 3% 0 0 3%;
    		position: absolute;
    		top: 50%;
    		left: 0;
    		-webkit-transform: translateY(-50%);
    		transform: translateY(-50%);
    		line-height: 28px;
    		width: 68%;
    		z-index: 1;
    	}
    	.section-4-right {
    		float: right;
    		padding: 0;
    		img {
    			width: 100%!important;
    			max-width: none;
    		}
    	}
		h2 {
			color: $main-blue;
			font-family: $minion;
			font-style: italic;
			font-size: 2.1em;
			margin-top: 0;
		}

		p {
			font-family: $lft-etica;
			font-size: 18px;
			margin-top: 10px;
		}		

		.btn {
			margin-top: 1em;
		}

		.section-4-img-caption {
			text-align: center;
		}
	}
}

#section-5 {
	background: url(/rcca/wp-content/themes/rcca/dist/images/sec-5-bg.jpg) no-repeat center / cover;
	padding: 6em 0;
	.row {
    	margin: 0;
    	position: relative;
    	.section-5-right {
    		float: right;
    		padding: 0;
    		img {
    			width: 100%;
    		}
    	}
    	.section-5-right {
    		font-size: 18px;
    		padding: 0 5%;
			line-height: 28px;
			h2 {
    			color: #000;
    			font-family: $minion;
    			font-style: italic;
    		}
    		p {
    			font-weight: 300;
    			font-size: 18px;
    		}
    		.section-5-buttons {
    			margin-bottom: 20px;
    			text-align: left;
    			button {
    				margin-right: 35px;
    			}
    		}
    	}
    }
}

#section-6 {
	background: $main_blue;
	padding: 3em 0;
	.container {
	    margin: auto;
	    padding: 1em 2em;
	    .col-lg-8 {
	    	float: none;
	    	margin: 0 auto 50px auto;
	    }
	    .col-lg-11 {
	    	background: $main_purple;
	    	color: #fff;
	    	margin: auto;
	    	float: none;
	    	padding: 15px;
	    	margin-bottom: 45px;
	    	ul {
	    		font-family: $minion;
	    		font-size: 18px;
	    		font-style: italic;
	    		font-weight: 300;
	    	}
	    	ul.left-list {
	    		float: left;
	    		text-align: left;
	    		width: 50%
	    	}
	    	ul.right-list {
	    		float: right;
	    		text-align: left;
	    		width: 50%;
	    	}
	    	&:after {
	    		content: '';
	    		display: block;
	    		clear: both;
	    	}
	    }
	    h2 {
	    	font-family: $minion;
	    	font-size: 36px;
	    	font-style: italic; 
	    	color: #fff;
	    }
	    h3 {
	    	font-family: $adobe_caslon;
	    	font-size: 26px;
	    	color: #fff;
	    	font-weight: 300;
	    }
	    a {
	    	text-decoration: none;
			&:hover {
				text-decoration: none;
				}
		}
	    p {
	    	color: #fff;
	    	font-weight: 300;
	    	font-family: $adobe_caslon;
	    }
	    .section-6-item {
	    	img {
	    		margin-bottom: 25px;
	    	}
	    	button {
	    		font-size: 17px;
	    		max-width: 228px;
	    		width: 100%;
	    	}
	    }
	    .item-1 {
	    	float: left;
	    	margin-left: 25px;
		}
		.item-2 {
			float: right;
		}
	}
}

#section-7 {
	background: #f3eaf1;
    padding: 8em 0;
    .container {
    	position: relative;
    	.section-7-left {
    		padding: 0;

    			float: left;
    		img {
    			width: 100%;
    		}
    	}
    	.section-7-right {
    		font-size: 18px;
			line-height: 28px;
			padding: 0 3%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			h2 {
    			color: $main_purple;
    			font-family: $minion;
    			font-style: italic;
    			font-size: 36px;
    		}
    		p {
    			font-weight: 300;
    		}
    	}
    }
}

#section-8 {
	background: #fff;
	color: #000;
	font-family: $adobe_caslon;
	padding: 8em 0;
	.container {
		.col-lg-7 {
				float: left;
				padding: 0;
			div {
				h2 {
					color: $main-blue;
					font-family: $minion;
					font-style: italic;
					margin-top: 0;
				}
				p {
					color: #000;
					font-family: $adobe_caslon;
					font-weight: 300;
				}
				button {
					margin-top: 20px;
				}
			}
		}
		.col-lg-5 {
			float: right;
			p.sec-8-quote, .quote-author {
				color: $main-purple;
				font-size: 24px;
				font-family: $minion;
				font-style: italic;
			}
			p.sec-8-quote {
				&:before {
					content: '“';
					color: #dfd0db;
					display: inline-block;
					float: left;
					font-family: $minion;
					font-size: 350px;
					font-style: normal;
					margin-top: -145px;
				}
			}
			.quote-author {
				float: right;
			}
		}
	}
	.section-8-heading {
	    font-size: 2em;
		font-weight: 500;
	    text-transform: capitalize;
	}
}

#section-9 {
	background: #f3eaf1;
	height: 100%;
	padding: 4em 0;
	h2 {
		color: $main-purple;
		font-family: $minion;
		font-style: italic;
		margin-top: 0;
	}
	p {
		font-family: $adobe_caslon;
		font-weight: 300;
	}
	button {
		margin-top: 20px;
	}
}

#section-10 {
	background: url(/rcca/wp-content/themes/rcca/dist/images/logo-accent.jpg) no-repeat; 
	background-position: 80px 50px;
	padding: 20em 0 5em 0;
	/* Home page contact form style ------------------------------*/
	#gform_wrapper_1 {
		margin: 35px auto;
		max-width: 950px;
		position: relative;
		label {
			display: none;
		}
		#field_1_5, #field_1_2, #field_1_3, #field_1_4 {
			clear: left;
			float: left;
			width: 100%;
			margin-bottom: 20px;
			max-width: 460px;
			.ginput_container {
				margin-top: 0;
			}
			input {
				padding-left: 0.25em;
				max-height: 35px;
				width: 100%!important;
			}

		}

		#field_1_4 {
			.ginput_container {
				img {
					float: right; 
					display: block;
					z-index: 999;
					position: relative;
					margin: -24px 10px 0 0;
				}
			}
		}

		#field_1_6 {
			clear: right;
			float: right;
		}

		#field_1_7 {
			background-color: #e7d6e3;
			clear: left;
			float: left;
			width: 100%;
			margin-bottom: 20px;
			max-width: 460px;
			padding: 0 15px;
			input[type="radio"] {
				float: left;
				margin-top: 10px;
			}
			label {
				color: #000;
				display: block!important;
				font-family: $adobe_caslon;
				font-weight: 300;
				float: left;
				margin: 0;
				width: 63%;
			}
			.gfield_label {
				line-height: 2;
			}
			.gchoice_1_7_0, .gchoice_1_7_1 {
				float: left;
				margin: 0;
				width: 75px;
				label {
					margin: 5px 0 0 7px;
				}
			}
			.ginput_container.ginput_container_radio {
				margin: 0;
			}
		}
		input[type="text"], textarea, input.datepicker {
			background: transparent;
			border: 2px solid $main-blue;
			max-width: 460px;
		}

		textarea {
			float: right;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			max-height: 256px;
			padding-left: 0.45em;
		}

		input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		   color: #000;
		   font-family: $adobe_caslon;
		   font-weight: 300;
		}

		input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
		   color: #000;
		   font-family: $adobe_caslon;
		   font-weight: 300;
		}

		input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
		   color: #000;
		   font-family: $adobe_caslon;
		   font-weight: 300;
		}

		input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {  
		   color: #000;
		   font-family: $adobe_caslon;
		   font-weight: 300;
		}

		.gform_footer.top_label {
		    text-align: center;
		}

		#gform_submit_button_1 {
			background: #fff;
			border: 2px solid $main-purple;
			color: $main-purple;
			font-family: $adobe_caslon;
			font-size: 1.1em;
			margin: auto;
			padding: 5px 0;
			max-width: 445px;
			text-transform: uppercase;
			width: 100%;
			&:hover {
				background-color: $main-purple;
				color: #fff;
			}
		}
	}

	.contact-home-note {
		font-family: $minion;
		font-size: 1.4em;
		font-weight: 300;
		margin-top: 35px;
		text-align: center;
		margin-bottom: 35px;
	}
}

.content-row > .main {
	padding: 0;
}

.page-header + .container .main {
    padding: 0 0 35px 0!important;
    margin-top: 0!important;
    a {
    	color: #000;
    	text-decoration: underline;
    }
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    background:#fff;
    border: 1px solid transparent
}

.accordion-section {
	a {
		text-decoration: none;
		color: $dark_blue;
		&:active {
			color: $dark_blue;
		}
		&:visited {
			color: $dark_blue;
		}
	}
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    background:$main-blue;
    text-decoration: none!important;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    color:#fff!important;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:$light_blue;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
    font-size: 20px;
}

/* Contact page form style ------------------------------*/
#gform_wrapper_2 {
	margin: 35px auto 0 auto;
	max-width: 950px;
	position: relative;
	label {
		display: none;
	}
	#field_2_5, #field_2_2, #field_2_3, #field_2_6 {
		clear: left;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		max-width: 460px;
		.ginput_container {
			margin-top: 0;
		}
		input {
			padding-left: 0.25em;
			max-height: 35px;
			width: 100%!important;
		}

	}

	#field_1_4 {
		.ginput_container {
			img {
				float: right; 
				display: block;
				z-index: 999;
				position: relative;
				margin: -24px 10px 0 0;
			}
		}
	}

	#field_1_6 {
		clear: right;
		float: right;
	}
	input[type="text"], textarea, input.datepicker {
		background: #fff;
		border: 2px solid $main_blue;
		max-width: 460px;
	}

	textarea {
		float: right;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		max-height: 200px;
		padding-left: 0.45em;
	}

	input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	   color: $dark_blue;
	   font-family: $lft-etica;
	}

	input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
	   color: $dark_blue;  
	   font-family: $lft-etica;
	}

	input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
	   color: $dark_blue;  
	   font-family: $lft-etica;
	}

	input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {  
	   color: $dark_blue; 
	   font-family: $lft-etica; 
	}

	.gform_footer.top_label {
	    text-align: center;
	}

	#gform_submit_button_2 {
		background: #fff;
		border: 2px solid $main-purple;
		color: $main-purple;
		font-family: $adobe_caslon;
		font-size: 1.4em;
		font-weight: 500;
		margin: auto;
		text-transform: uppercase;
		padding: 5px 0;
		max-width: 345px;
		width: 100%;
		&:hover {
			background: $main-purple;
			color: #fff;
		}
	}
}
.contact-home-note {
	font-family: $adobe_caslon;
	font-size: 1.4em;
	font-style: italic;
	margin-top: 0;
}

.contact-us-location {
	text-align: center;
}

/* Request an appt page form style ------------------------------*/
#gform_wrapper_3 {
	margin: 35px auto 0 auto;
	max-width: 950px;
	position: relative;
	label {
		display: none;
	}
	#field_3_1, #field_3_2, #field_3_3, #field_3_4 {
		clear: left;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		max-width: 460px;
		.ginput_container {
			margin-top: 0;
		}
		input {
			padding-left: 0.25em;
			max-height: 35px;
			width: 100%!important;
		}

	}

	#field_3_5 {
		.ginput_container {
			img {
				float: right; 
				display: block;
				z-index: 999;
				position: relative;
				margin: -24px 10px 0 0;
			}
		}
	}

	#field_3_5 {
		clear: right;
		float: right;
	}
	input[type="text"], textarea, input.datepicker {
		background: #fff;
		border: 2px solid $dark_blue;
		max-width: 460px;
	}

	textarea {
		float: right;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		max-height: 200px;
		padding-left: 0.45em;
	}

	input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	   color: $dark_blue;
	   font-family: $lft-etica;
	}

	input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
	   color: $dark_blue;  
	   font-family: $lft-etica;
	}

	input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
	   color: $dark_blue;  
	   font-family: $lft-etica;
	}

	input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {  
	   color: $dark_blue; 
	   font-family: $lft-etica; 
	}

	.gform_footer.top_label {
	    text-align: center;
	}

	#gform_submit_button_3 {
		background: #fff;
		border: 2px solid $main_red;
		color: $main_red;
		font-family: $bree;
		font-size: 1.4em;
		font-weight: 500;
		margin: auto;
		text-transform: uppercase;
		padding: 5px 0;
		max-width: 345px;
		width: 100%;
		&:hover {
			background: $main_red;
			color: #fff;
		}
	}
}
.contact-home-note {
	font-family: $lft-etica;
	font-size: 1.4em;
	font-style: italic;
	margin-top: 0;
}
.testimonial {
    background: #eee;
    padding: 15px;
    margin-bottom: 35px;
    font-style: italic;
    .author {
    	text-align: right;
    }
}
.testimonial:before {
    color: $main-blue;
    content: '“';
    font-size: 60px;
    float: left;
    margin-top: -20px;
    margin-right: 10px;
    height: 40px;
}

table {
	tr {
		td {
			border: 1px solid black;
			padding: 10px;
		}
	}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 1381px) {
	#section-2 {
		padding-top: 1em;
		.container {
			.section-2-left {
				float: none;
				margin: auto;
			}
			.section-2-right {
				max-width: 500px;
				float: none;
				clear: both;
				margin: 35px auto;
				position: relative;
				right: inherit;
				top: inherit;
				transform: translateY(0);
				-webkit-transform: translateY(0);
				p {
					font-size: 1em;
				}
			}
		}
	}
	#section-5 {
		.row {
			.section-5-left {
				float: none;
				position: relative;
				transform: none;
				margin: 40px auto;
				.section-5-buttons {
					text-align: center;
				}
			}
			.section-5-right {
				float: none;
				margin-top: 35px;
				margin: auto;
			}
		}
	}
	#section-7 {
		padding-bottom: 4%;
		.row {
			.section-7-left {
				margin-top: 4%;
				
			}
		}
	}
}

@media (max-width: 1200px) {
	.main {
		button {
			display: block!important;
			float: none!important;
			margin: auto!important;
		}
	}
	
	#section-2 {
		padding-bottom: 20px;
		.row {
			.section-2-baby-left {
				padding-top: 50px;
				padding-bottom: 20px;
				img {
					width: auto;
				}
			}
			.section-2-content-right {
				position: relative;
				transform: none;
			}
		}
	}
	#section-3 {
		padding-top: 3em;
	    .container {
	    	.section-3-left {
	    		float: none;
	    		margin: 35px auto;
	    		img {
	    			width: auto;
	    		}
	    	}
	    	.section-3-right {
	    		font-size: 18px;
				padding: 1% 4% 0 4%;
				position: relative;
				transform: none;
				line-height: 28px;
	    		button {
	    			display: block;
	    			margin: auto;
	    		}
	    	}
	    }
	}
	#section-4 {
		.row {
			.section-4-left {
				position: relative;
				float: none;
				right: auto;
				top: auto;
				transform: none;
				display: block;
				margin: 0 auto 35px auto;
				width: 95%;
			}
			.section-4-right {
				float: none;
				img {
					float: none;
					margin-bottom: 35px;
					max-width: 626px;
				}
			}
		}
	}
	#section-5 {
		.row {
			.section-5-left {
				padding-top: 8%;
				.section-5-buttons {
					text-align: center;
				}
			}
			.section-5-right {
				margin: 15px 0 35px 0;
				img {
					width: auto;
				}
			}
		}
	}
	#section-6 {
		.container {
			h2 {
				text-align: center;
				margin-top: 40px;
			}
		}
	}
	#section-7 {
		.container {
			.section-7-left {
				float: none;
				img {
					width: auto;
				}
			}
			.section-7-right {
				position: relative;
				top: auto;
				transform: none;
				img {
					margin: 2.5em auto;
				}
				button {
					display: block;
					float: none;
					margin: auto;
				}
			}
		}
	}
	#section-8 {
		.container {
			.col-lg-5 {
				p.sec-8-quote {
					&:before {
						margin-bottom: -145px;
					}
				}
			}
			.col-lg-7 {
				button {
					float: none;
					display: block;
					margin: auto;
				}
			}
		}
	}
	#section-9 {
		.section-9-left {
			img {
				margin-bottom: 35px;
			}
		}
		button {
			margin: auto;
		}
	}
	.contact-us-location {
		margin-bottom: 35px;
	}
}

@media (max-width: 992px) {
	#section-3 {
	    .row {
	    	.section-3-right {
	    		margin: 35px auto;
	    		float: none;
	    		img {
	    			float: none;
	    			margin: auto;
	    			width: auto;
	    		}
	    	}
	    }
	}
	#section-6 {
		.container {
			.section-6-right {
				margin-top: 35px;
				&:after {
					clear: both;
					display: block;
					content: '';
				}
			}
		}
	}
	#section-10 {
		/* Home page contact form style ------------------------------*/
		#gform_wrapper_1 {

			ul#gform_fields_1 {
			    margin: auto!important;
			    width: 100%;
			    max-width: 400px;
			    text-align: center;
			}
			#field_1_5, #field_1_2, #field_1_3, #field_1_4 {
				clear: both;
				float: none;
			}

			#field_1_6 {
				clear: both;
				float: none;
			}

			#field_1_7 {
				.gchoice_1_7_0, .gchoice_1_7_1 {
					width: 60px;
				}
			} 

			textarea {
				float: none;
				position: relative;
				height: 100%;
				max-height: 200px;
				padding-left: 0.45em;
				width: 100%;
			}

		}
	}

	#gform_wrapper_2 {
		ul#gform_fields_2 {
		    margin: auto!important;
		    width: 100%;
		    max-width: 400px;
		    text-align: center;
		}
		#field_2_5, #field_2_2, #field_2_3, #field_2_6 {
			clear: both;
			float: none;
		}

		#field_1_4 {
			clear: both;
			float: both;
		}

		textarea {
			float: none;
			position: relative;
			height: 100%;
			max-height: 200px;
			padding-left: 0.45em;
			width: 100%;
		}
	}

	#gform_wrapper_3 {
		ul#gform_fields_3 {
		    margin: auto!important;
		    width: 100%;
		    max-width: 400px;
		    text-align: center;
		}
		#field_3_1, #field_3_2, #field_3_3, #field_3_4 {
			clear: both;
			float: none;
		}

		#field_3_5 {
			clear: both;
			float: both;
		}

		textarea {
			float: none;
			position: relative;
			height: 100%;
			max-height: 200px;
			padding-left: 0.45em;
			width: 100%;
		}
	}
	#gform_submit_button_2 {
		font-size: 14px!important;
	}
}

@media (max-width: 892px) {
	#slide-1-layer-15 {
		display: none!important;
	}
}

@media (max-width: 860px) {
	#slide-1-layer-13 {
	    width: 215px;
	    font-size: 14px!important;
	}
}

@media (max-width: 768px) {
	#section-2 {
		padding: 0;
		.container {
			.section-2-content-header {
				padding: 0.7em 1em;
			}
		}
	}
	#section-3 {
		.section-3-doc {
			float: none;
			margin: 2em auto;
			text-align: center;
			width: 100%;
		}
	}
	#section-5 {
		.gerd-img {
			text-align: center;
			margin-bottom: 2em;
		}
	}
	#section-6{
		padding: 0;
	}

	#slide-1-layer-15 {
		display: none;
	}
}

@media (max-width: 600px) {
	div#slide-1-layer-13 {
		padding: 5px!important;
		width: 110%;
	    font-size: 14px!important;
	    text-align: center;
	}
	#section-2 {
		.container {
			.section-2-right {
				.right-inner {
					.left-list, .right-list {
						float: none!important;
						margin: auto!important;
						padding-left: 0;
						width: 90%;
					}
				}
			}
		}
	}
	#section-3 {
	    .row {
	    	.section-3-right {
	    		margin: 35px auto 0 auto;
	    	}
	    }
	}
	#section-5 {
		.row {
			.section-5-left {
				.section-5-buttons {
					button {
						width: 205px;
						margin-bottom: 20px;
					}
				}
			}
			.section-5-right {
				margin: 0;
			}
		}
	}
	#section-6 {
		.container {
			.section-6-right {
				padding-bottom: 35px;
				.left-list, .right-list {
					float: none!important;
					clear: both;
					margin: auto;
					width: 95%!important;
				}
				.item-2 {
					margin: 35px 0;
				}
			}
		}
	}
	#section-7 {
		.row {
			.section-7-left {
				margin-top: 0;
			}
		}
	}
	#section-8 {
		.container {
			.col-lg-5 {
				p.sec-8-quote {
					&:before {
						font-size: 35px;
						margin-bottom: 0;
						margin-top: 0;
					}
				}
				.quote-author {
					margin-bottom: 35px;
				}
			}
		}
	}
	#section-10 {
		background: none;
		padding-top: 3em;
	}
}

